/* Whole page styles */

body {
    text-align: center;
    font-family: 'Carme', sans-serif;
    color: white;
    background-image: url("../images/BG.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0 auto;
    min-height: 100vh;
    /*max-height?*/
}

.background {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
}

.heading {
    font-family: 'Denk One', sans-serif;
    text-align: center;
    font-size: 350%;
    color: white;
    margin-bottom: 10px;
    text-shadow: 2px 3px black;
}

h2 {
    text-shadow: 2px 2px black;
}

.intro-modal,
.info-modal {
    font-family: 'Denk One', sans-serif;
    height: 70vh;
    width: 50vw;
    position: absolute;
    z-index: 2;
    text-align: center;
    margin: 0 25%;
    padding: 0 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 20%;
    background-image: url("../images/forest.jpeg");
    border: 1px solid rgb(255, 255, 255)
}

.intro-btns {
    justify-content: space-between;
}

#btn-general {
    background: rgb(53, 62, 118);
    border-radius: 15%;
    color: white;
    cursor: pointer;
    width: 100px;
    justify-content: center;
    cursor: pointer;
}

#btn-PGF {
    background: rgb(53, 62, 118);
    border-radius: 15%;
    color: white;
    cursor: pointer;
    width: 100px;
    justify-content: center;
    cursor: pointer;
}

#btn-science {
    background: rgb(53, 62, 118);
    border-radius: 15%;
    color: white;
    cursor: pointer;
    width: 100px;
    justify-content: center;
    cursor: pointer;
}

#modal-close, #try-again {
    background: rgb(53, 62, 118);
    border-radius: 15%;
    color: white;
    cursor: pointer;
    width: 100px;
    justify-content: center;
    cursor: pointer;
}

/* blur overlay behind modals */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    z-index: 1;
}

.hidden {
    display: none;
}

h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
}


/* Quiz section layout */

.quiz-section {
    height: 70vh;
    width: 80vw;
    margin: 0 auto;
    background-color: rgb(211, 211, 211, 0.5);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.flex-container {
    flex-direction: row;
    text-align: center;
}

.questions {
    margin: 20px auto;
    height: 50vh;
    max-height: 60vh;
    width: 90%;
    background-color: rgb(128, 128, 128, 0.6);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
    padding: 0 20px;
}

#qtext {
    padding: 10%;
    font-size: 150%;
    vertical-align: middle;
    line-height: 180%;
    text-align: center;
    font-family: 'Alegreya Sans SC', sans-serif;;
}

.answer-text {
    font-size: 130%;
    padding: 20px 0;
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.answers {
    background-color: rgb(128, 128, 128, 0.6);
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60%;
    margin: 0 auto;
    bottom: 5%;
    max-height: 30vh;
}

#btn-A,
#btn-B,
#btn-C {
    /* font-family: 'Denk One', sans-serif; */
    max-height: 100px;
    max-width: 100px;
    min-height: 50px;
    min-width: 50px;
    height: 80%;
    width: 15%;
    border-radius: 10px;
    opacity: 0.9;
    margin: auto;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: linear-gradient(rgb(34, 45, 120), rgb(75, 77, 97));
    
}

.score-tally {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 1.2rem;
}

#info-text {
    width: 90%;
    padding: 20px;
}

.answer:hover,
.intro-btns:hover,
.close:hover,
.close:focus {
    color: rgb(84, 64, 215);
    text-decoration: none;
    cursor: pointer;
}

/* Socials */
.socials ul {
    list-style-type: none;
    text-align: center;
}

.socials.mobile ul {
    visibility: visible;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 60px;
    justify-content: space-around;
    padding-left: 0px;
    padding-inline-start: 0px;
}

.networks i {
    text-align: center;
    color: rgba(180, 133, 138, 0.3);
    font-size: 150%;
    padding: 10px 10px;
    margin: 0 20px 20px 0;
    padding-inline-start: 0px;
}

ul.networks {
    margin: 0;
    padding-inline-start: 0px;
}

.networks i:hover {
    text-shadow: -1px 1px 12px #763943;
}

@media screen and (max-width: 768px) {

    .intro-modal,
    .info-modal {
        width: 80vw;
        margin: 0 10%;
    }

    .answers {
        height: 40%;
        margin: 20px auto;
        bottom: 5%;
        max-height: 20vh;
    }

    .answer-text {
        margin-top: 0;
        padding-top: 0;
        font-size: 90%;
    }
}

@media screen and (max-height: 850px) {
    #qtext {
        font-size: 140%;
        padding: 0;
    } 
    .questions {
        margin: 0;
    }
}

@media screen and (max-height: 550px) {

    .intro-modal,
    .info-modal {
        font-size: 60%;
    }
}